* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
    color: #dfdee0;
}

body {
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    color: #21092f;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cards-div {
    position: relative;
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
}

.front-card-div {
    position: absolute;
    width: 447px;
    padding: 28px 32px 26.5px 32px;
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    top: 15%;
    left: 25%;
}

.card-logo-div {
    margin-bottom: 64px;
}

#card-number {
    margin-bottom: 25.5px;
    color: white;
    font-size: 28px;
    letter-spacing: 3.42px;
    font-weight: 500;
}

.name-and-date-div {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}

.back-card-div {
    position: absolute;
    width: 447px;
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    padding: 111px 50px 115px 0px;
    text-align: right;
    top: 60%;
    left: 50%;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}

.form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 0px 0px 0px 350px;
    text-align: left;
}

input:focus {
    border: 1px solid #610595;
    outline: none;
}

input {
    color: #21092f;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: solid 1px #dfdee0;
}

#cardholder-name-input, #card-number-input {
    width: 381px;
    padding: 11px 16px 11px 16px;
    margin-bottom: 26px;
}

label {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 9px;
}

#month-input, #year-input {
    width: 80px;
    padding: 11px 32px 11px 16px;
    margin-right: 10px;
}

#cvc-input {
    width: 191px;
    padding: 11px 109px 11px 16px;
}

.cvc-input-label {
    margin-left: 47px;
}

.dates-labels-div {
    margin-bottom: 9px;
}

.dates-input-div {
    margin-bottom: 40px;
}

#confirm-btn {
    width: 381px;
    padding: 15px 156px 15px 157px;
    border-radius: 8px;
    background-color: #21092f;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #21092f;
}

#confirm-btn:hover {
    background-color: white;
    color: #21092f;
}